*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.root {
    position: relative;
    background-color: #242424;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.figure {
    position: relative;
    background-color: #ff9800;
    clip-path: polygon(50% 0%, 100% 28.8%, 100% 71.2%, 50% 100%, 0% 71.2%, 0% 28.8%);
}

@media (orientation: landscape) {
    .figure {
        aspect-ratio: 1 / 1;
        height: 60%;
    }
}

@media(orientation: portrait) {
    .figure {
        aspect-ratio: 1 / 1;
        width: 60%;
    }
}