*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.root {
    position: relative;
    background-color: #242424;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.clockframe {
    position: relative;
    background-color: #464646;
    border-radius: 50%;
}

.second {
    position: absolute;
    width: 4px;
    border-radius: 2px;
    height: 45%;
    transform-origin: 50% calc(100% - 2px);
    top: 5%;
    left: calc(50% - 2px);
    transform: rotate(90deg);
    background-color: #888;
    /* animation: rotatehand 1s linear alternate-reverse infinite; */
}

.minute {
    position: absolute;
    width: 12px;
    border-radius: 6px;
    height: 40%;
    transform-origin: 50% calc(100% - 6px);
    top: 10%;
    left: calc(50% - 6px);
    background-color: #888;
    /* animation: rotatehand 3600s linear infinite; */
}

.hour {
    position: absolute;
    width: 12px;
    border-radius: 6px;
    height: 25%;
    transform-origin: 50% calc(100% - 6px);
    top: 25%;
    left: calc(50% - 6px);
    background-color: #888;
    /* animation: rotatehand 43200s linear infinite; */
}

@keyframes rotatehand {
    to {
        transform: rotate(360deg);
    }
}

@media (orientation: landscape) {
    .clockframe {
        aspect-ratio: 1 / 1;
        height: 80%;
    }
}

@media(orientation: portrait) {
    .clockframe {
        aspect-ratio: 1 / 1;
        width: 80%;
    }
}