*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.root {
    position: relative;
    background-color: #eee;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.gallery {
    padding: 16px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    gap: 16px;
    overflow-y: auto;
    justify-content: center;
}

.photos {
    aspect-ratio: 9 / 16;
    width: 100%;
    background-image: url("./testimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5em;
    opacity: 0.32;
    filter: blur(0.32em);
    transform: translateY(5em);
    animation: showup linear forwards;
    animation-timeline: view();
    animation-range: entry 0% entry-crossing 60%;
}

@keyframes showup {
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}